
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

    table {
        margin-top: 1rem;
        width: 100%;
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 20%;
      }

      mat-label{
        display: flex;
        justify-content: space-between;

        mat-icon{
            font-size: 21px;
            text-align: center;
            margin-right: .3rem;

        }
      }
}