<form class="body-login">

    <div class="field">

        <div class="login">
            <img src="./assets/img/user2.png" alt="">
            <h1>Login</h1>
        </div>
        <mat-form-field class="example-full-width ">
            <input matInput placeholder="Username">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
        </mat-form-field>
    
        <button mat-button >Submint</button>
    </div>

</form>