.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: rgb(176, 176, 176);
}

img{
  width: 10%;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}



mat-sidenav{
  background: #0f172a;
  width: 230px;
  height: 100%;
}

mat-sidenav-content{
  height: 100vh;
}

mat-toolbar{
  mat-icon{
      margin-left: 15px;
      color: #6d8299;
  }

  justify-content: space-between;

}
