<!-- <mat-sidenav-container class="container">
  <mat-sidenav #sidebar mode="side" opened>
    sidebar area
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar>
          <mat-icon (click)="sidebar.toggle()" >menu</mat-icon>
          <div class="box">
            <mat-icon>search</mat-icon>
            <mat-icon>bookmark_border</mat-icon>
            <mat-icon>mail_outline</mat-icon>
          </div>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<div class="navbar">
  <div class="top">
    <mat-icon>notifications_none</mat-icon>
  </div>
  <div class="user">
    <img src="../../../../../assets/img/port-of-virginia-bw_orig.png" alt="">
    <h4 class="name">User</h4>
    <p class="mail">ssuarez@lean-tech.io</p>
  </div>

  <div class="menu">
    <div class="menu-head">
      <button class="menu-button" *ngFor="let item of menu" mat-button [routerLink]="item.redirect" >{{item.name | uppercase}}</button>
    </div>
  </div>
</div>